/* line 1, ../compass/sass/_backgrounds.scss */
.page1 {
  background-image: url("../images/mer3-bg.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 9, ../compass/sass/_backgrounds.scss */
.page2 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/scotland-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 17, ../compass/sass/_backgrounds.scss */
.page3 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/computer-cat-bg.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 25, ../compass/sass/_backgrounds.scss */
.page4 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/pup-phone-bg2.JPG");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 1, ../compass/sass/_page_scroll.scss */
.pages {
  position: relative;
  height: 400vh;
  top: 0vh;
  transition: all 3s;
}

/* line 8, ../compass/sass/_page_scroll.scss */
.page1, .page2, .page3, .page4 {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

/* line 14, ../compass/sass/_page_scroll.scss */
.page1 {
  top: 0vh;
}

/* line 18, ../compass/sass/_page_scroll.scss */
.page2 {
  top: 100vh;
}

/* line 22, ../compass/sass/_page_scroll.scss */
.page3 {
  top: 200vh;
}

/* line 26, ../compass/sass/_page_scroll.scss */
.page4 {
  top: 300vh;
}

/* line 30, ../compass/sass/_page_scroll.scss */
.down-arrow, .up-arrow {
  position: absolute;
  left: 45%;
  color: white;
}

/* line 36, ../compass/sass/_page_scroll.scss */
.down-arrow:hover, .up-arrow:hover {
  background-color: #A9FFAF;
}

/* line 40, ../compass/sass/_page_scroll.scss */
.down-arrow {
  bottom: 0px;
}

/* line 44, ../compass/sass/_page_scroll.scss */
.up-arrow {
  top: 0px;
}

/* line 1, ../compass/sass/_navbar.scss */
.navigation {
  position: fixed;
  left: 0px;
  z-index: 10;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-top: 10px;
  color: white;
  text-shadow: 2px 2px gray;
}
/* line 10, ../compass/sass/_navbar.scss */
.navigation ul {
  margin-top: 10px;
}
/* line 13, ../compass/sass/_navbar.scss */
.navigation li {
  list-style: none;
}
/* line 17, ../compass/sass/_navbar.scss */
.navigation .nav-active {
  color: #A9FFAF;
}
/* line 21, ../compass/sass/_navbar.scss */
.navigation .nav-item:hover {
  color: #FCF294;
}

/* line 1, ../compass/sass/_welcome.scss */
.welcome {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-shadow: 2px 2px gray;
  margin-top: 350px;
}
/* line 6, ../compass/sass/_welcome.scss */
.welcome .welcome-msg1 {
  position: relative;
  font-size: 70px;
}
/* line 11, ../compass/sass/_welcome.scss */
.welcome .welcome-msg2 {
  font-size: 70px;
}

/* line 16, ../compass/sass/_welcome.scss */
.welcome-info {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26.5px;
  text-shadow: 2px 2px gray;
  position: relative;
  color: #A9FFAF;
}

/* line 1, ../compass/sass/_about.scss */
.about-text {
  font-family: "Open Sans", sans-serif;
}

/* line 5, ../compass/sass/_about.scss */
i {
  font-size: 3em;
  color: #078C49;
}

/* line 10, ../compass/sass/_about.scss */
.skill-name {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}

/* line 2, ../compass/sass/_projects.scss */
.project-img img {
  border: 3px #A9FFAF solid;
  opacity: 0.9;
}
/* line 6, ../compass/sass/_projects.scss */
.project-img img:hover {
  width: 210px;
  height: 210px;
  opacity: 1.0;
}

/* line 13, ../compass/sass/_projects.scss */
.project-text {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

/* line 18, ../compass/sass/_projects.scss */
.message {
  margin: auto;
  background: #FCF294;
  font-weight: bold;
  width: 300px;
  padding: 10px 0;
}

/* line 27, ../compass/sass/_projects.scss */
.carousel-caption, .carousel-caption ul {
  position: initial;
  padding-top: 10px;
  padding-bottom: 50px;
  color: black;
  font-family: "Open Sans", sans-serif;
}

/* line 35, ../compass/sass/_projects.scss */
.carousel-indicators li {
  background-color: #A9FFAF;
}

/* line 39, ../compass/sass/_projects.scss */
.carousel-indicators .active {
  background-color: #078C49;
}

/* line 1, ../compass/sass/_contact.scss */
.fa, .fa:visited {
  color: #078C49;
  text-decoration: none;
}

/* line 6, ../compass/sass/_contact.scss */
.fa:hover, .fa:active {
  color: #FCF294;
  text-decoration: none;
}

/* line 11, ../compass/sass/_contact.scss */
.contact-name {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 11, ../compass/sass/styles.scss */
body {
  overflow: hidden;
}

/* line 15, ../compass/sass/styles.scss */
.page-container {
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
}

/* line 22, ../compass/sass/styles.scss */
.page-header {
  font-family: "Josefin Sans", sans-serif;
}
