/* line 1, ../compass/sass/_backgrounds.scss */
.page1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/mer3-bg.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 9, ../compass/sass/_backgrounds.scss */
.page2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hiking-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 17, ../compass/sass/_backgrounds.scss */
.page3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/whiteboard-bg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 25, ../compass/sass/_backgrounds.scss */
.page4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/computer-cat-bg.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 33, ../compass/sass/_backgrounds.scss */
.page5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/pup-phone-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 1, ../compass/sass/_page_scroll.scss */
.pages {
  position: relative;
  height: 500vh;
  top: 0vh;
  transition: all 3s;
}

/* line 8, ../compass/sass/_page_scroll.scss */
.page1, .page2, .page3, .page4, .page5 {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

/* line 14, ../compass/sass/_page_scroll.scss */
.page1 {
  top: 0vh;
}

/* line 18, ../compass/sass/_page_scroll.scss */
.page2 {
  top: 100vh;
}

/* line 22, ../compass/sass/_page_scroll.scss */
.page3 {
  top: 200vh;
}

/* line 26, ../compass/sass/_page_scroll.scss */
.page4 {
  top: 300vh;
}

/* line 30, ../compass/sass/_page_scroll.scss */
.page5 {
  top: 400vh;
}

/* line 34, ../compass/sass/_page_scroll.scss */
.down-arrow, .up-arrow {
  position: absolute;
  left: 47%;
  color: white;
}

/* line 40, ../compass/sass/_page_scroll.scss */
.down-arrow:hover, .up-arrow:hover {
  background-color: #A9FFAF;
}

/* line 44, ../compass/sass/_page_scroll.scss */
.down-arrow {
  bottom: 0px;
}

/* line 48, ../compass/sass/_page_scroll.scss */
.up-arrow {
  top: 0px;
}

/* line 1, ../compass/sass/_navbar.scss */
.navigation {
  position: fixed;
  right: 0px;
  z-index: 10;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-top: 10px;
  color: white;
  text-shadow: 2px 2px gray;
}
/* line 10, ../compass/sass/_navbar.scss */
.navigation ul {
  margin-top: 10px;
}
/* line 13, ../compass/sass/_navbar.scss */
.navigation li {
  list-style: none;
}
/* line 17, ../compass/sass/_navbar.scss */
.navigation .nav-active {
  color: #A9FFAF;
}
/* line 21, ../compass/sass/_navbar.scss */
.navigation .nav-item:hover {
  color: #FCF294;
}

/* line 1, ../compass/sass/_welcome.scss */
.welcome {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  margin-top: 350px;
}
/* line 5, ../compass/sass/_welcome.scss */
.welcome .welcome-msg1 {
  position: relative;
  font-size: 70px;
}
/* line 10, ../compass/sass/_welcome.scss */
.welcome .welcome-msg2 {
  font-size: 70px;
}

/* line 15, ../compass/sass/_welcome.scss */
.welcome-info {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26.5px;
  position: relative;
  color: #A9FFAF;
}

/* line 1, ../compass/sass/_projects.scss */
.project {
  margin-top: 20px;
}
/* line 3, ../compass/sass/_projects.scss */
.project img {
  border: 3px #A9FFAF solid;
  opacity: 0.9;
}
/* line 7, ../compass/sass/_projects.scss */
.project img:hover {
  width: 210px;
  height: 210px;
  opacity: 1.0;
}

/* line 14, ../compass/sass/_projects.scss */
.project-name {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}

/* line 1, ../compass/sass/_skills.scss */
i {
  font-size: 5em;
  color: #078C49;
}

/* line 6, ../compass/sass/_skills.scss */
.skill-name {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}

/* line 11, ../compass/sass/_skills.scss */
.skills-row {
  margin-top: 30px;
}

/* line 9, ../compass/sass/styles.scss */
body {
  overflow: hidden;
}

/* line 15, ../compass/sass/styles.scss */
.page-container {
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.8);
  height: 500px;
}

/* line 21, ../compass/sass/styles.scss */
.page-header {
  font-family: "Josefin Sans", sans-serif;
}
